/*------ This manipulates everything in the document -----*/
* {
  padding: 0;
  margin: 0;
  font-size: 100%;
  line-height: 1em;
}

/*------ This manipulates everything in the body -----*/
body {
  width: 80%;
  max-width: 700px;
  margin: auto;
  background: #fdfdfd;
  color: #333;
}

/*---- This manipulates headings one and two ----*/
h1, h2 {
  font-weight: normal;
  color: #8f0040;
  text-align: center;
}

/*---- This manipulates the paragraphs and the quoted text. ----*/
p, blockquote {
  margin-bottom: 1.5em;
  line-height: 1.4;
}

/*---- This manipulates heading one and specifies specific font and margin details. ----*/
h1 {
  font-size: 4em;
  margin-top: 2em;
}

/*---- This manipulates heading two and specifies specific font and margin details. ----*/
h2 {
  font-size: 2em;
  margin: 3em 0 1em 0;
}

/*---- This manipulates the quoted text and specifies specific font details, colour details and indentation details. ----*/
blockquote {
  font-size: 1.4em;
  color: #8f0040;
  hanging-punctuation: first;
  text-indent: -0.4em;
}

/*---- This manipulates the quoted text part "— John Baskerville, preface to Milton, 1758 (Anatomy of a Typeface)"
 and decreases the quotes' font size and changes the colour from red to dark grey  ----*/
blockquote cite {
  font-size: 0.75em;
  color: #333;
}

/*---- This manipulates heading two in header. ----*/
header h2 {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 1.5em
}

/*---- This manipulates the paragraph in header. ----*/
header p {
  font-size: 1.3em;
}

/*---- This manipulates and colours all the links. ----*/
a {
  color: #8f0040;
  text-decoration: none;
}

a:visited {
  color: #8f0040;
}

a:hover {
  color: green;
  border-bottom: 1px dotted;
}

/*---- This manipulates the navigation system, placed at the top of the website. ----*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background-color: #8f0040;
  padding: 1em 0;
  font-size: 0.75em;
}

/*---- This manipulates the navigation systems' unordered HTML list. ----*/
nav ul {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px
}

/*---- This manipulates each individual item in the navigation systems' list. ----*/
nav ul li {
  display: inline;
  margin: 20px;
  background: none;
}

/*---- This manipulates the navigation system's links. ----*/
nav a {
  color: #fdfdfd
}

/*---- This turns the navigation system's links white when visited. The colour however is already white, so it will remain the same.----*/
nav a:visited {
  color: #fdfdfd
}

/*---- When a link is hovered in the navigation system, the link's colour will turn pink.----*/
nav a:hover {
  border-bottom: none;
  color: #fc8ebf;
  transition: all 0.3s ease-in-out;
}

/*---- This manipulates the footer, at the bottom of the website. ----*/
footer {
  text-align: center;
  font-size: 0.7em;
  margin: 5em 0 8em 0
}
